{% extends "index.html" %}

{% block title %}Hierarchical {% endblock %}

{% block content %}
    <style>
	
	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
    </style>

  </head>


<!-- load the d3.js library -->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

var treeData = {
    "name": "OG",
    "parent": "null",
    "disp": "OG",
    "children": [
	    {
	    	"name": "OG_0",
		    "parent": "OG",
		    "disp": "0",
		    "children": [
		    	{
		    		"name": "OG_0_0",
				    "parent": "OG_0",
				    "disp": "0",
				}, {
					"name": "OG_0_1",
				    "parent": "OG_0",
				    "disp": "1",
				    "children": [
				    	{
				    		"name": "OG_0_1_0",
						    "parent": "OG_0_1",
						    "disp": "0",
				    	},
				    	{
				    		"name": "OG_0_1_1",
						    "parent": "OG_0_1",
						    "disp": "1",
				    	},
				    	{
				    		"name": "OG_0_1_2",
						    "parent": "OG_0_1",
						    "disp": "2",
				    	},
				    	{
				    		"name": "OG_0_1_3",
						    "parent": "OG_0_1",
						    "disp": "3",
				    	},
				    	{
				    		"name": "OG_0_1_4",
						    "parent": "OG_0_1",
						    "disp": "4",
				    	}
				    ]
				},
				{
		    		"name": "OG_0_2",
				    "parent": "OG_0",
				    "disp": "2",
				},
				{
		    		"name": "OG_0_3",
				    "parent": "OG_0",
				    "disp": "3",
				    "children": [
				    	{
				    		"name": "OG_0_3_0",
						    "parent": "OG_0_3",
						    "disp": "0",
				    	},
				    	{
				    		"name": "OG_0_3_1",
						    "parent": "OG_0_3",
						    "disp": "1",
				    	},
				    	{
				    		"name": "OG_0_3_2",
						    "parent": "OG_0_3",
						    "disp": "2",
				    	}
				    ]
				}

		    ]
		},

		{
	    	"name": "OG_1",
		    "parent": "OG",
		    "disp": "1",
		    "children": [
		    	{
		    		"name": "OG_1_0",
				    "parent": "OG_1",
				    "disp": "0",
				}, {
					"name": "OG_1_1",
				    "parent": "OG_1",
				    "disp": "1"
				}, {
					"name": "OG_1_2",
				    "parent": "OG_1",
				    "disp": "2"
				}
			]
		}
    ]
  };

treeData = JSON.parse({{tree_data|tojson|safe}})

//console.log(json.loads({{tree_data}}))
// ************** Generate the tree diagram	 *****************
var margin = {top: 20, right: 120, bottom: 20, left: 120},
	width = 960 - margin.right - margin.left,
	height = 600 - margin.top - margin.bottom;

var i = 0,
	duration = 750,
	root;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");


root = treeData;
root.x0 = height / 2;
root.y0 = 0;


var menu = contextMenu().items('View Model', 'View Scores', 'Update Algorithm');


function contextMenu() {
    var height,
        width,
        margin = 0.1, // fraction of width
        items = [],
        rescale = false,
        style = {
            'rect': {
                'mouseout': {
                    'fill': 'rgb(244,244,244)',
                    'stroke': 'white',
                    'stroke-width': '1px'
                },
                'mouseover': {
                    'fill': 'rgb(200,200,200)'
                }
            },
            'text': {
                'fill': 'steelblue',
                'font-size': '13'
            }
        };

    function menu(x, y, id) {

        d3.select('.context-menu').remove();
        scaleItems();

        // Draw the menu
        d3.select('svg')
            .append('g').attr('class', 'context-menu').attr('id', id)
            .selectAll('tmp')
            .data(items).enter()
            .append('g').attr('class', 'menu-entry').attr('download', 'output.zip')
            .style({'cursor': 'pointer'})
            .on('mouseover', function(){
                d3.select(this).select('rect').style(style.rect.mouseover) })
            .on('mouseout', function(){
                d3.select(this).select('rect').style(style.rect.mouseout) })
            .on('click', function(d){
                  var cluster = this.parentElement.id
                  var req = new XMLHttpRequest();
                  req.open("GET", "/getModel?id="+cluster, true);
                  req.responseType = "blob";

                  req.onload = function (event) {
                    var blob = req.response;
                    console.log(blob.size);
                    var link=document.createElement('a');
                    link.href=window.URL.createObjectURL(blob);
                    link.download=cluster+".zip";
                    link.click();
                  };

                   req.send();
                console.log(this.parentElement.id);
                console.log(d);


            });


        d3.selectAll('.menu-entry')
            .append('rect')
            .attr('x', x)
            .attr('y', function(d, i){ return y + (i * height); })
            .attr('width', width)
            .attr('height', height)
            .style(style.rect.mouseout);

        d3.selectAll('.menu-entry')
            .append('text')
            .text(function(d){ return d; })
            .attr('x', x)
            .attr('y', function(d, i){ return y + (i * height); })
            .attr('dy', height - margin / 2)
            .attr('dx', margin)
            .style(style.text);

        // Other interactions
        d3.select('body')
            .on('click', function() {
                d3.select('.context-menu').remove();
            });

    }

    menu.items = function(e) {
        if (!arguments.length) return items;
        for (i in arguments) items.push(arguments[i]);
        rescale = true;
        return menu;
    }

    // Automatically set width, height, and margin;
    function scaleItems() {
        if (rescale) {
            d3.select('svg').selectAll('tmp')
                .data(items).enter()
                .append('text')
                .text(function(d){ return d; })
                .style(style.text)
                .attr('x', -1000)
                .attr('y', -1000)
                .attr('class', 'tmp');
            var z = d3.selectAll('.tmp')[0]
                      .map(function(x){ return x.getBBox(); });
            width = d3.max(z.map(function(x){ return x.width; }));
            margin = margin * width;
            width =  width + 2 * margin;
            height = d3.max(z.map(function(x){ return x.height + margin / 2; }));

            // cleanup
            d3.selectAll('.tmp').remove();
            rescale = false;
        }
    }

    return menu;
}


update(root);

d3.select(self.frameElement).style("height", "500px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });


  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	  .on("click", click)


  nodeEnter.on('contextmenu', function(d){
        d3.event.preventDefault();
        //menu(d,d3.mouse(this)[0], d3.mouse(this)[1]);
        console.log(d.id)
        console.log(d.name)
        menu(d.y0 + 50, d.x0 + 35, d.folder);
    });

  nodeEnter.append("circle")
	  .attr("r", 1e-6)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -13 : 13; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.display; })
	  .style("fill-opacity", 1e-6);

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
	  .attr("r", 10)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
	  .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	  .remove();

  nodeExit.select("circle")
	  .attr("r", 1e-6);

  nodeExit.select("text")
	  .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
		var o = {x: source.x0, y: source.y0};
		return diagonal({source: o, target: o});
	  });

  // Transition links to their new position.
  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
		var o = {x: source.x, y: source.y};
		return diagonal({source: o, target: o});
	  })
	  .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
	d.x0 = d.x;
	d.y0 = d.y;
  });
}

// Toggle children on click.
function click(d) {
  if (d.children) {
	d._children = d.children;
	d.children = null;
  } else {
	d.children = d._children;
	d._children = null;
  }
  update(d);
}


$(".menu-entry").click(function(){
  // Holds the product ID of the clicked element
  console.log($this);
  console.log("Hello")
});

</script>

    <body>

</body>

{% endblock %}